/ml_assignment_01/toxiccomments_submission.csv
/ml_assignment_01/toxiccomments_test.csv
/ml_assignment_01/toxiccomments_train.csv
/ml_assignment_02/plane_data
/ml_assignment_02/test_data_for_grading
/ml_assignment_02/2016-10-10T19+44+49_610Z
/ml_assignment_02/airplane_submission.csv
